<div ng-init="populate()" xmlns="http://www.w3.org/1999/html">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>

    <div>
        <div class="form-group">
            <textarea ng-model="newNoteContent" class="form-control" rows="5"></textarea>
             <span class="row">
                <button ng-click="add();" class="btn btn-success">Add note</button>
            </span>
        </div>

        <h3>Total notes: {{notesTotal}}</h3>

        <div class="note" data-ng-repeat="item in notesList">
            <div class="content">
                <p data-ng-hide="item.edit">{{item.content}}</p>
                <textarea data-ng-show="item.edit" data-ng-model="editInProgressTodo.content" class="form-control" rows="5"></textarea>
            </div>

            <div class="footer">
                <div class="date">
                    Last modified: {{item.updated_at}}
                </div>
                <div class="actions">
                    <span data-ng-hide="item.edit || editingInProgress">
                        <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> |
                        <a data-ng-click="delete(item.id)" href="javascript:;">Delete</a></span>
                    <span data-ng-show="item.edit"><a data-ng-click="update(item)" href="javascript:;">Save</a> |
                        <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a></span>
                </div>
            </div>
        </div>
    </div>
</div>